:root {
    font-size: 1em;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;

    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #f2f2f2;

    color: #353535;
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: #353535;
    text-decoration: none;
}

.user-input,
.network-area {
    height: 100%;
    padding: 2rem;
    border-radius: 1rem;
    background-color: white;
}

/* User input */
.user-input {
    flex-basis: 20%;

    display: flex;
    flex-direction: column;
}

.user-input>*>*+* {
    display: block;
    margin-top: 1.5rem;
}

.section-title {
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
}

/* Server info */
.server-info {
    flex-basis: 70%;
}

.server-ip > * {
    display: block;
}

.server-ip input {
    width: 100%;
    margin-top: .5rem;
    padding: .5rem 1rem;
    border-radius: 2rem;
    border: 1px solid #353535;
}

.server-ip input:focus {
    outline: none;
}

/* Hosted websites */
.hosted-websites ul {
    margin-top: .5rem;
}

.hosted-websites li {
    list-style-position: inside;
}

/* Server link */
.server-link {
    flex-basis: 30%;
}

/* Network area */
.network-area {
    flex-basis: 80%;
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 500px;
    border-radius: 5rem;

    font-size: 1.5rem;
}

.searchbar>* {
    display: flex;
    align-items: center;

    height: 56px;
    padding: 1rem 1rem;
}

.searchbar span {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;

    background-color: #c8c8c8;
}

.searchbar input {
    display: inline-block;
    flex-grow: 1;

    margin-right: 1rem;
    border: none;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #f2f2f2;

    font-size: 1.25rem;
}

.searchbar input:focus {
    outline: none;
}